.SynergyGods {
    height: 100vh;
    width: 100vw;
    background: #000;
}

svg {
    height: 70vh;
    width: 100vw;
}

/* center div */
.topper {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.entry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.entry input {
    color: #00ff00;
    background: #000;
    margin: 8px;
    font-size: 24px;
    width: 50vw;
}

.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.pulse {
    --color: #00ff00;
    --hover: #0fff00;
}

button {
    width: 50vw;
    cursor: pointer;
    color: var(--color);
    transition: 0.25s;
}

button:hover, button:focus {
    border-color: var(--hover);
    color: #00ff00;
}

body {
    color: #fff;
    background: #17181c;
    font: 300 1em "Fira Sans", sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

h1 {
    font-weight: 400;
}

code {
    color: #e4cb58;
    font: inherit;
}